<!-- Website Header. Contains Buy and Sell links.  -->
<template name="header">
  <nav class="top-nav cyan">
    <div id="nav" class="nav-wrapper">
      <a href="{{pathFor route='home'}}" class="brand-logo left">
        <img class="responsive-img" src="images/Calvin Bookshelf Branding_White Text.png" style="max-height: 54px; padding: 6px; vertical-align: middle;">
      </a>
	  <!-- Dropdown Trigger -->
      <a class="dropdown-button right" href="#!" data-activates="dropdown1">Hi, {{currentUser.username}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{pathFor route='sell'}}">Sell Book</a></li>
        {{#if currentUser}}
        <li><a href="#" onClick="Meteor.logout()">Logout</a></li>         
		<!-- Dropdown Structure -->
		<ul id='dropdown1' class='dropdown-content'>
			<li><a href="{{pathFor route='sell'}}">Sell</a></li>
			<li><a href="{{pathFor route='home'}}">Search</a></li>
			<li><a href="{{pathFor route='faq'}}">Help</a></li>
			<li class="divider"></li>
			<li><a href="{{pathFor route='account'}}">My Account</a></li>
			<li><a href="#" onClick="Meteor.logout()">Log out</a></li>
		</ul>
        {{else}}
        <li><a href="#" name="login">Log in</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
  {{> loginModal}}
</template>
        
